<section class="modal-component" [@openModalAndClose]="stateName">
  <div class="overlay-modal" (click)="closeOnClickOut($event)">
    <div class="modal-container">
      <mat-icon class="icon-close" *ngIf="buttonClose" (click)="close()">close</mat-icon>

      <ng-container *ngIf="modalTitle; else elseHeader">
        <div class="modal-header">
          <h1 class="title">{{modalTitle}}</h1>
        </div>
      </ng-container>
      <ng-template #elseHeader>
        <div class="modal-space"></div>
      </ng-template>

      <div class="modal-content">
        <ng-content></ng-content>
      </div>

      <ng-container *ngIf="primaryButton || secondaryButton; else elseFooter">
        <div class="modal-footer" *ngIf="primaryButton || secondaryButton">
          <button mat-button class="button button-modal" *ngIf="secondaryButton"
            (click)="secondaryButton?.action()">{{secondaryButton?.label}}</button>
          <button mat-button class="button button-modal button-black" *ngIf="primaryButton" [disabled]="!primaryButton?.enabled"
            (click)="primaryButton?.action()">{{primaryButton?.label}}</button>
        </div>
      </ng-container>
      <ng-template #elseFooter>
        <div class="modal-space"></div>
      </ng-template>

    </div>
  </div>
</section>