<main class="app-container">
    <section class="top-bar">
        <app-top-bar></app-top-bar>
    </section>
    <section class="navigation-and-container">
        <nav class="navigation" [ngClass]="{'nav-bar-close': !menuOpen}">

            <mat-icon class="button-menu-toggle"
                (click)="toggleMenu()"
                [ngClass]="{'menu-open': menuOpen, 'menu-close': !menuOpen}">
                {{menuOpen ? 'menu_open' : 'menu'}}
            </mat-icon>
            <app-nav-bar></app-nav-bar>
        </nav>
        <div class="overlay-nav-close" *ngIf="menuOpen" (click)="closeMenu()"></div>
        <section class="content-pages" [ngClass]="{'content-pages-without-nav': !menuOpen}">
            <router-outlet></router-outlet>
        </section>
    </section>
</main>
