@import "../spend-control-styles.scss";

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $black;

    .top-bar {
        height: 70px;
        padding: 0 15px;
    }

    .navigation-and-container {
        display: flex;
        width: 100%;
        height: calc(100vh - 70px);
        margin-top: 0;
        padding: 20px 10px 15px 20px;

        .overlay-nav-close {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
        }

        .navigation {
            position: relative;
            left: 0;
            width: 200px;
            min-width: 200px;
            box-sizing: border-box;
            border-right: 1px solid $gray-light;
            transition: all 0.3s ease-in-out;

            app-nav-bar {
                visibility: visible;
                transition: visibility 0.2s ease-in-out;
            }

            .button-menu-toggle {
                position: absolute;
                cursor: pointer;
                top: 0;
                transition: all 0.3s ease-in-out;
            }

            .menu-close {
                top: -32px;
                right: -20px;
            }
            .menu-open {
                right: 5px;
            }
        }

        .nav-bar-close {
            left: -5px;
            width: 1px;
            min-width: 0;
            height: calc(100% - 20px);
            margin-top: 20px;

            app-nav-bar {
                visibility: hidden;
            }
        }

        .content-pages {
            width: 100%;
            height: 100%;
            padding-left: 15px;
            padding-right: 5px;
            overflow-y: auto;
            padding-top: 0;
            transition: padding-top 0.3s ease-in-out;
        }

        .content-pages-without-nav {
            padding-top: 20px;
        }
    }

    @media (max-width: 680px) {
        .top-bar {
            height: auto;
        }

        .navigation-and-container {
            position: relative;
            height: calc(100vh - 100px);

            .overlay-nav-close {
                display: block;
                z-index: 1999;
                background-color: rgba($color: #000000, $alpha: 0.7);
            }

            .content-pages-without-nav {
                padding-top: 0;
            }

            .navigation {
                position: fixed;
                left: 0;
                z-index: 2000;
                background-color: rgba($color: #000000, $alpha: 0.9);
                top: 0;
                bottom: 0;

                .menu-close {
                    top: -15px;
                    right: -235px;
                }
            }

            .nav-bar-close {
                left: -205px;
                height: 100%;
            }
        }
    }
}
